<!-- begin sidebar scrollbar -->
<div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <!-- <ul class="nav">
        <li class="nav-profile">
            <div class="info">
                Sean Ngu
                <small>Front end developer</small>
            </div>
        </li>
    </ul>-->
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav" sidebar>
        <!-- begin sidebar minify button -->
        <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
</div>
<!-- end sidebar scrollbar -->
