#tables-manager {
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 54px;
    background: #FFF;
    z-index: 3;
    -webkit-transform: translateZ(0);
}

#tables-manager .nav .nav-header h5 {
    text-align: center;
    background: #EFF3F4;
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    font-family: "微软雅黑";
}
#tables-props {
    width: 220px;
    position: absolute;
    right: -220px;
    top: 0;
    bottom: 0;
    padding-top: 54px;
    background: #2d353c;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-transition: right ease-in-out .3s;
    transition: right ease-in-out .3s;
}
#tables-props form label {
    color: #cfcfcf;
}
#tables-props form .control-label,
#tables-props form .col-sm-12 {
    width: auto !important;
    float: none !important;
}
.showprops #tables-props {
    right: 0;
}
.showprops .content {
    margin-right: 220px;
}
.tables .panel-body .table {
    display: table;
}
.tables .panel-body .table .thead {
    border: 1px dashed #ccc;
    margin: 40px 0 -1px;
    position: relative;
    min-height: 30px;
}
.tables .panel-body .table .tbody {
}
.tables .panel-body .table .thead .thead-tools {
    display: block;
    position: absolute;
    left: -1px;
    top: -32px;
    padding: 5px;
    margin: 0;
    background: #fff;
    border-radius: 5px 5px 0 0;
    border: 1px dashed #ccc;
    border-bottom: none;
}
.tables .panel-body .table .thead:hover {
    background-color: #fafafa;
}

.tables .panel-body .table .tr {
    display: box;
    display:-webkit-box;
    box-orient:horizontal;
    -webkit-box-orient:horizontal;
    box-align: center;
    -webkit-box-align: center;
    margin: 0 -1px 0 0;
    padding: 0;
}
.tables .panel-body .table .th,
.tables .panel-body .table .td {
    list-style: none;
    display: flex;
    box-flex:1;
    -webkit-box-flex:1;
    padding: 0;
    border-right: 1px dashed #ccc;
    min-height: 30px;
    position: relative;
}
.tables .panel-body .table .th .context,
.tables .panel-body .table .td .context {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 7px;
    font-weight: 700;
    text-align: center;
}
.tables .panel-body .table .th:hover,
.tables .panel-body .table .td:hover {
    background: #efe;
}
.tables .panel-body .table .th .panel-headers-tools {
    display: none;
    position: absolute;
    right: -1px;
    top: -100%;
    padding: 5px;
    margin: -3px 0 0 -20px;
    background: #efe;
    border-radius: 5px 5px 0 0;
    border: 1px dashed #ccc;
    border-bottom: none;
    min-width: 113px;
}
.tables .panel-body .table .th:hover .panel-headers-tools {
    display: block;
    background-color: #efe;
}