#tables-manager {
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 54px;
    background: #2d353c;
    z-index: 3;
    -webkit-transform: translateZ(0);
}
#tables-props {
    width: 220px;
    position: absolute;
    right: -220px;
    top: 0;
    bottom: 0;
    padding-top: 54px;
    background: #2d353c;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-transition: right ease-in-out .3s;
    transition: right ease-in-out .3s;
}
#tables-props form label {
    color: #cfcfcf;
}
#tables-props form .control-label,
#tables-props form .col-sm-12 {
    width: auto !important;
    float: none !important;
}
.showprops #tables-props {
    right: 0;
}
.showprops .content {
    margin-right: 220px;
}
.tables .panel-body .table thead {
    border: 1px dashed #ccc;
}
.tables .panel-body .table thead:hover {
    background-color: #fafafa;
}
.tables .panel-body .table thead th {
    border: none!important;
}
#tableTools {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    margin: 0;
    background: #efe;
    border-radius: 5px 5px 0 0;
    border: 1px dashed #ccc;
    border-bottom: none;
}