<!-- begin page-header -->
<h1 class="page-header">数据报表 <small>创建配置数据报表</small></h1>
<!-- end page-header -->
<script type="text/ng-template" id="tmpl/tables.html">
    <!-- begin col-6 -->
    <div class="sortable-row col-md-{{panel.cols}}" ng-repeat="panel in tablesPanel">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <ul class="panel-heading-btn" ng-if="tablesModel == 'edit'">
                    <li class="btn btn-xs btn-nonebg" ng-click="tablesAddHeader(panel, 'rows')" title="新增表格头">
                        <i class="icon-table"></i>
                    </li>
                    <li class="btn btn-xs btn-nonebg" ng-click="tablesProps(panel)" title="表格属性配置"><i class="icon-cog"></i></li>
                    <li class="btn btn-xs btn-nonebg" ng-click="tablesAddCols(panel)" title="增加宽度"><i class="icon-resize-horizontal"></i></li>
                    <li class="btn btn-xs btn-nonebg" ng-click="tablesMinusCols(panel)" title="减少宽度"><i class="icon-resize-small"></i></li>
                    <li class="btn btn-xs btn-nonebg" ng-click="tablesRemove(panel)" title="移除表格"><i class="icon-trash"></i></li>
                </ul>
                <h4 class="panel-title">{{panel.title}}</h4>
            </div>
            <div class="panel-body">
                <div class="table table-striped">
                    <div class="thead" ng-repeat="header in panel.tables.headers">
                        <div class="tr">
                            <div class="th" ng-repeat="head in header" rows="{{head.rows}}" cols="{{head.cols}}" ng-mouseover="headerTools($event, head)" ng-mouseout="headerTools($event, head)" ng-dblclick="enableColsTitle($event, head)" ng-blur="disableColsTitle($event, head)" style="-webkit-box-flex: {{head.cols||1}}">
                                <span class="context">{{head.text}}</span>
                            </div>
                        </div>
                        <ul class="thead-tools" ng-if="tablesModel == 'edit'">
                            <li class="btn btn-xs btn-danger" ng-click="deleteHeaderCols($event, panel.tables.headers)" title="删除行"><i class="icon-remove"></i></li>
                        </ul>
                    </div>
                    <div class="tbody">
                        <ul class="tr" ng-repeat="bodys in panel.tables.bodys">
                            <li class="td" ng-repeat="body in bodys" rows="{{body.rows}}" cols="{{body.cols}}">
                                <span>{{body.text}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-if="panel.showpage == 1">
                <ng-pages totalitems="{{panel.total}}" listsizes="5" itemsperpage="{{panel.perpage}}">
                </ng-pages>
            </div>
        </div>
        <!-- end panel; -->
    </div>
    <!-- end col-6 -->
</script>
<!-- begin row -->
<div class="row" ng-sortable="sortableConf" ng-tables="tablesConf"></div>
<!-- end row -->
<div id="tables-manager">
    <ul class="nav">
        <li class="nav-header">
            <h5>查询组件</h5>
            <ul class="root-menu">
                <li class="sort-handle">
                    <a href="javascript:;" class="source"> 时间 </a>
                </li>
            </ul>
        </li>
        <li class="nav-header">
            <h5>图表组件</h5>
            <ul class="root-menu">
                <li>
                    <a href="javascript:;" class="source" ng-click="createTables('table')"> 万能表格 </a>
                </li>
                <li>
                    <a href="javascript:;" class="source" ng-click="createEcharts('line')"> 折线图 </a>
                </li>
                <li>
                    <a href="javascript:;" class="source" ng-click="createEcharts('scotter')"> 飞行图 </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="tables-props" ng-class="{'show': tablePropsStatus == true}">
    <form class="" name="tablesForm">
        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-success" ng-disabled="tablesForm.$invalid" ng-click="ok()">更新</button>
                <button class="btn btn-warning" ng-click="cancel()">退出</button>
                <input type="hidden" class="form-control" ng-model="dataConfig.id">
                <input type="hidden" class="form-control" ng-model="dataConfig.key">
                <input type="hidden" class="form-control" ng-model="dataConfig.order">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">表格名称</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="表格名称" required ng-model="dataConfig.title">
                <p class="help-block"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">表格分页</label>
            <div class="col-sm-12">
                <div class="radio">
                    <label>
                        <input type="radio" name="showpage" value="1" ng-model="dataConfig.showpage" ng-checked="dataConfig.showpage"> 有分页
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="showpage" value="0" ng-model="dataConfig.showpage" ng-checked="!dataConfig.showpage"> 无分页
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">表格数据API</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="表格数据的API URL" ng-model="dataConfig.api">
                <p class="help-block"></p>
            </div>
        </div>
    </form>
</div>
<div ng-columns-tools="tablesConf"></div>
<script type="text/ng-template" id="tmpl/headersTools.html">
<ul id="tableTools" class="panel-headers-tools" ng-if="tablesModel == 'edit'">
    <li class="btn btn-xs btn-nonebg" data-id="addCols" title="新增表格项"><i class="icon-plus"></i></li>
    <li class="btn btn-xs btn-nonebg" data-id="splitCols" title="拆分表格项"><i class="icon-cut"></i></li>
    <li class="btn btn-xs btn-nonebg" data-id="mergeCols" title="合并表格项"><i class="icon-link"></i></li>
    <li class="btn btn-xs btn-nonebg" data-id="addFlex" title="增加宽度"><i class="icon-resize-horizontal"></i></li>
    <li class="btn btn-xs btn-nonebg" data-id="minusFlex" title="减少宽度"><i class="icon-resize-small"></i></li>
    <li class="btn btn-xs btn-nonebg" data-id="deleteCols" title="删除表格项"><i class="icon-trash"></i></li>
</ul>
</script>