<!-- begin page-header -->
<h1 class="page-header">
    <span class="tables-name" ng-blur="editTablesName($event, tablesDataSource.tablesName)" ng-bind="tablesDataSource.tablesName"></span>
     <small>创建配置数据报表</small>
     <a class="btn btn-xs btn-circle btn-success tables-name-editor" href="javascript:" ng-click="editTablesName($event, tablesDataSource.tablesName)" title="编辑数据报表名称"><i class="icon-pencil"></i></a>
     <a class="btn btn-sm btn-success save-tables" ng-click="saveTables()">保存数据报表</a>
</h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row tables" sf-tables="tablesConf">
    <sf-components-tmpl-proxy class="searchs-panel ui-sortable-disabled clearfix" data-type="search" ng-sortable="sortableSearchConf"></sf-components-tmpl-proxy>
    <div class="tables-panel clearfix" ng-sortable="sortableTableConf">
        <sf-components-tmpl-proxy class="sortable-row col-md-{{panel.cols}}" data-type="{{panel.type}}" ng-repeat="panel in tablesDataSource.tablesPanel"></sf-components-tmpl-proxy>
    </div>
</div>
<!-- end row -->

<!-- begin components-panel -->
<sf-components-panel options="componentsConf"></sf-components-panel>
<!-- end components-panel -->

<!-- begin props-panel -->
<sf-props options="propsConf"></sf-props>
<!-- end props-panel -->
